{{#if isSelected}}
  <form class="">
    <label for="author">Author: </label>
    {{input value=author}}
    <label for="author">Answer: </label>
    {{input value=content}}
    <button type="button" {{action 'submitAnswer' question}}>Submit</button>
  </form>
{{else}}
  <button type="button"{{action 'showForm'}}>Add Answer</button>
{{/if}}
