{{#if isSelected}}
  <form class="">
    <label for="author">Author: </label>
    {{input value=author}}
    <label for="author">Question: </label>
    {{input value=name}}
    <button type="button" {{action 'submitQuestion'}}>Submit</button>
  </form>
{{else}}
  <button type="button"{{action 'showForm'}}>Add Question</button>
{{/if}}
